discord/.config/vesktop/Crashpad/client_id
discord/.config/vesktop/sessionData/*
discord/.config/vesktop/settings/settings.json
discord/.config/vesktop/state.json
discord/.config/vesktop/SingletonSocket
discord/.config/vesktop/SingletonLock
discord/.config/vesktop/SingletonCookie
discord/.config/vesktop/settings.json
