discord/.config/vesktop/Crashpad/client_id
discord/.config/vesktop/sessionData/DIPS
discord/.config/vesktop/sessionData/Network Persistent State
discord/.config/vesktop/sessionData/Preferences
discord/.config/vesktop/sessionData/Trust Tokens
discord/.config/vesktop/sessionData/Trust Tokens-journal
discord/.config/vesktop/sessionData/Cache/Cache_Data/36cf83af1bd1664a_0
discord/.config/vesktop/sessionData/Cache/Cache_Data/5283edf90cf4ab50_0
discord/.config/vesktop/sessionData/Cache/Cache_Data/index
discord/.config/vesktop/sessionData/Cache/Cache_Data/index-dir/the-real-index
discord/.config/vesktop/sessionData/Cache/No_Vary_Search/journal.baj
discord/.config/vesktop/sessionData/Cache/No_Vary_Search/snapshot.baf
discord/.config/vesktop/sessionData/Code Cache/js/index
discord/.config/vesktop/sessionData/Code Cache/js/index-dir/the-real-index
discord/.config/vesktop/sessionData/Code Cache/wasm/index
discord/.config/vesktop/sessionData/Code Cache/wasm/index-dir/the-real-index
discord/.config/vesktop/sessionData/DawnGraphiteCache/data_0
discord/.config/vesktop/sessionData/DawnGraphiteCache/data_1
discord/.config/vesktop/sessionData/DawnGraphiteCache/data_2
discord/.config/vesktop/sessionData/DawnGraphiteCache/data_3
discord/.config/vesktop/sessionData/DawnGraphiteCache/index
discord/.config/vesktop/sessionData/DawnWebGPUCache/data_0
discord/.config/vesktop/sessionData/DawnWebGPUCache/data_1
discord/.config/vesktop/sessionData/DawnWebGPUCache/data_2
discord/.config/vesktop/sessionData/DawnWebGPUCache/data_3
discord/.config/vesktop/sessionData/DawnWebGPUCache/index
discord/.config/vesktop/sessionData/Dictionaries/en-US-10-1.bdic
discord/.config/vesktop/sessionData/GPUCache/data_0
discord/.config/vesktop/sessionData/GPUCache/data_1
discord/.config/vesktop/sessionData/GPUCache/data_2
discord/.config/vesktop/sessionData/GPUCache/data_3
discord/.config/vesktop/sessionData/GPUCache/index
discord/.config/vesktop/sessionData/Local Storage/leveldb/000003.log
discord/.config/vesktop/sessionData/Local Storage/leveldb/CURRENT
discord/.config/vesktop/sessionData/Local Storage/leveldb/LOCK
discord/.config/vesktop/sessionData/Local Storage/leveldb/LOG
discord/.config/vesktop/sessionData/Local Storage/leveldb/MANIFEST-000001
discord/.config/vesktop/sessionData/Session Storage/000003.log
discord/.config/vesktop/sessionData/Session Storage/CURRENT
discord/.config/vesktop/sessionData/Session Storage/LOCK
discord/.config/vesktop/sessionData/Session Storage/LOG
discord/.config/vesktop/sessionData/Session Storage/MANIFEST-000001
discord/.config/vesktop/sessionData/Shared Dictionary/db
discord/.config/vesktop/sessionData/Shared Dictionary/db-journal
discord/.config/vesktop/sessionData/Shared Dictionary/cache/index
discord/.config/vesktop/sessionData/Shared Dictionary/cache/index-dir/the-real-index
